/*
=============== 
Modal
===============
*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(222, 61, 109, 0.1);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -1;
}

/* OPEN/CLOSE MODAL */
.show-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container {
    /* background: rgb(17, 9, 9); */
    border-radius: 5px;
    width: 100%;
    height: 30vh;
    max-width: 1440px;
    /* text-align: center; */
    display: block;
    place-items: center;
    position: relative;
}

.close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: rgba(222, 61, 109, 0.1);
    cursor: pointer;
}