.fpup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* padding: 80px; */
    gap: 40px;
    position: absolute;
    width: 745px;
    height: 548px;
    /* left: 347px;
    top: 184px; */
    margin: 160px 348px 292px 347px;
    background: #FFFFFF;
}

.fpup-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 320px;
    height: 388px;
}

.fpup-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 151px;
    height: 56px;
}

.fpup-logo img {
    width: 32px;
    height: 56px;
}

.fpup-logo p {
    width: 107px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #DE3D6D;
}

.fpup-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 320px;
    height: 292px;
}

.fpup-form-group h1 {
    width: 141px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #21334F;
}

.fpup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
    padding: 0px;
    gap: 40px;
    /* gap: 24px; */
    width: 320px;
    height: 230px;
}

.fpup-form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 320px;
    height: 158px;
}

.fpup-form-fields1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 320px;
    height: 71px;
}

.fpup-form-fields1 label {
    width: 85px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #21334F;
}

.fpup-form-fields1 input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 320px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
}

.fpup-form-fields2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 320px;
    height: 71px;
}

.fpup-form-fields2 label {
    width: 104px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #21334F;
}

.fpup-form-fields2 input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 320px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
}

.fpup-subBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 320px;
    height: 48px;
    background: linear-gradient(92.1deg, #DE3D6D 55.67%, #F5844C 101.51%);
}