.signup_container{
    position: relative;
    text-align: center;
    width: 100vw;
    height: max-content;
    left: 0px;
    top: 0px;
    background: rgba(243, 137, 84, 0.05);
    padding: 1rem 0;
}
.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    position: relative;
    top: -1rem;
    width: 1.3rem;
    height: 2.3rem;
    background: linear-gradient(145deg, rgb(244, 185, 76) 70%, rgb(237, 155, 3) 70% 30%);
    -ms-transform: rotate(30deg); /* IE 9 */
    transform: rotate(30deg);
}
.icon::before{
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    display: block;
    content: "";
    width: 1.3rem;
    height: 2.3rem;
    background: linear-gradient(325deg, rgb(186, 1, 146) 70%, purple 70% 30%);
}
.icon_container > .icon_text{
     color: rgb(186, 1, 146);
     font-weight: 500;
     font-size: 1.5rem;
     margin-left: 1.5rem;
     margin-top: 1rem;
}

.content_container{
    width: 40vw;
    margin: 0 auto;
    text-align: left;
}
  .back_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.05);
border-radius: 3rem;
    border: none;
    text-align: left;
  }
  .content_container .title{
    font-size: 1rem;
  }
  .form_group div label{
    text-transform: capitalize;
  }
  .form_group div input{
    width: 93.5%;
    padding: 1rem;
    margin: 0.7rem 0rem;
    border: none;
    border: 1px solid grey;
  }
  .form_group .signup_btn{
        background: linear-gradient(75deg, rgb(186, 1, 146), orange);
        width: 100%;
        padding: 1rem;
        margin: 0.7rem auto;
        border: none;
        color: #fff;
        text-transform: capitalize;
        font-size: 1rem;
        cursor: pointer;
  }

  .form_group .signup_btn:hover{
    color: #fff;
    opacity: 0.85;
  }
  .form_group p{
    text-align: center;
  }
  .form_group p span a{
    color: rgb(186, 1, 146);
  }

/* POP UP */

.messages{
    display: flex;
    justify-content: center;
  }
   
  .error{
    display: grid;
    place-content: center;
    background-color: rgb(251, 231, 240);
    color: red;
    border: 3px solid red;
    border-radius: 0.5rem;
    width: fit-content;
    height: 2rem;
    padding: 0.5rem;
  }
  .error h1{
    font-size: 1rem;
  }
   
  .success{
    display: grid;
    place-content: center;
    background-color: rgb(238, 249, 242);
    border-radius: 0.5rem;
    border: 3px solid green;
    color: green;
    width: fit-content;
    height: 2rem;
    padding: 0.5rem;
  }
  .success h1{
    font-size: 1rem;
  }
  a, button{
    cursor: pointer;
    text-decoration: none;
  }

/* MEDIA QUERIES */

  @media screen and (max-width: 1000px) {
    .form_group .signup_btn{
        width: 108%;
  }
  .form_group div input{
    width: 100%;
  }
  }
  @media screen and (max-width: 900px) {
    .form_group .signup_btn{
        width: 110%;
  }
  .form_group div input{
    width: 100%;
  }
  }
  @media screen and (max-width: 400px) {
    .form_group .signup_btn{
        width: 125%;
  }
  .form_group div input{
    width: 100%;
  }
  }

  @media screen and (max-width: 300px) {
    .form_group .signup_btn{
        width: 125%;
  }
  .form_group div input{
    width: 100%;
  }
  }
